<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" href="/HTML/css/login.css" />
  </head>
  <style>
    body {
      font-family: "Cafe24 Ssurround air OTF Light";
    }
  </style>
  <body>
    <!-- 로그인 폼 -->
    <div class="login-container">
      <div class="login-box">
        <h2>로그인</h2>
        <form>
          <div class="input-group">
            <input type="text" placeholder="아이디" id="username" />
            <input type="password" placeholder="비밀번호" id="password" />
          </div>
          <button type="submit" class="login-btn">로그인</button>
          <p class="signup-link">계정이 없나요? <a href="#">회원가입</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
