/* 전체 로그인 페이지 스타일 */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 화면 중앙 정렬 */
  font-family: 'Cafe24 Ssurround air OTF Light';
}

/* 로그인 박스 스타일 */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-box {
  background: white;
  padding: 30px;
  width: 400px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Cafe24 Ssurround air OTF Light';
}

/* 입력 필드 스타일 */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.input-group input {
  width: 95%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Cafe24 Ssurround air OTF Light';
}

/* 로그인 버튼 스타일 */
.login-btn {
  background-color: #6a99cd;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  font-family: 'Cafe24 Ssurround air OTF Light';

  display: inline-block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.login-btn:hover {
  background-color: #355c86;
}

/* "회원가입" 링크 스타일 */
.signup-link {
  margin-top: 10px;
  font-size: 14px;
}

.signup-link a {
  text-decoration: none;
  color:#355c86;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* Google 로그인 버튼 스타일 */
.google-btn {
  background-color: white;
  color: #757575;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  font-family: 'Cafe24 Ssurround air OTF Light';
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.google-btn:hover {
  background-color: #f5f5f5;
}

.google-btn i {
  color: #4285F4;
  margin-right: 10px;
  font-size: 18px;
}

/* 로그인 옵션 구분선 */
.login-divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #757575;
}

.login-divider::before,
.login-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.login-divider span {
  padding: 0 10px;
  font-size: 14px;
}
