body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Cafe24 Ssurround air OTF Light';
}

/* 회원가입 박스 스타일 */
.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signup-box {
  background: white;
  padding: 30px;
  width: 400px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Cafe24 Ssurround air OTF Light';
}

/* 입력 필드 스타일 */
.input-wrapper {
  margin-top: 20px;
}

.input-wrapper input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Cafe24 Ssurround air OTF Light';
}

/* 회원가입 버튼 스타일 */
.signup-btn {
  background-color: #6a99cd;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  font-family: 'Cafe24 Ssurround air OTF Light';
}

.signup-btn:hover {
  background-color: #355c86;
}

/* 로그인 링크 스타일 */
.login-link {
  margin-top: 10px;
  font-size: 14px;
}

.login-link a {
  text-decoration: none;
  color: #355c86;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
