<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>도쿄 23구 클릭 지도</title>
  <!-- Bootstrap CSS -->
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Bootstrap JS -->
  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <!-- CSS -->
  <link th:href="@{/css/map.css}" rel="stylesheet" />
  <!-- ✅ 스타일 연결 확인 -->
</head>
<style>
  body {
    font-family: "Cafe24 Ssurround air OTF Light";
  }
</style>

<body>
<div id="navbar-placeholder"></div>

<main>
  <!-- 지도 -->
  <div class="container">
    <aside>
      <h1>
        우측 지도에서 원하는
        <br />
        지역을 선택해 주세요
      </h1>
      <p>일본에서의 새로운 시작, 쉽고 안전하게!</p>
      <p>원하는 지역과 예산에 맞는 집을 지금 바로 찾아보세요.</p>
      <br>
      <div class="image-gallery">
        <a th:href="@{/property/list}"><button class="all-build">전체 매물 보기</button></a>
      </div>
    </aside>

    <div class="map-container" id="mapContainer">
      <img th:src="@{/img/jido.png}" alt="도쿄 23구 지도" class="map-image" id="mapImage" usemap="#image-map">
      <map name="image-map">
        <!-- 아다치구 -->
        <a href="/HTML/adachi.html" class="district-button"
           style="left: 390px; top: 180px; width: 120px; height: 100px;">아다치구</a>

        <!-- 가쓰시카구 -->
        <a href="/HTML/katsushika.html" class="district-button"
           style="left: 520px; top: 270px; width: 80px; height: 69px;">가쓰시카구</a>

        <!-- 에도가와구 -->
        <a href="/HTML/edogawa.html" class="district-button"
           style="left: 550px; top: 390px; width: 70px; height: 150px;">에도가와구</a>

        <!-- 고토구 -->
        <a href="/HTML/kotou.html" class="district-button"
           style="left: 450px; top: 450px; width: 80px; height: 69px;">고토구</a>

        <!-- 스미다구 -->
        <a href="/HTML/sumida.html" class="district-button"
           style="left: 450px; top: 370px; width: 80px; height: 40px;">스미다구</a>

        <!-- 아라카와구 -->
        <a href="/HTML/arakawa.html" class="district-button"
           style="left: 390px; top: 310px; width: 80px; height: 40px;">아라카와구</a>

        <!-- 다이토구 -->
        <a href="/HTML/taito.html" class="district-button"
           style="left: 388px; top: 365px; width: 80px; height: 40px;">다이토구</a>

        <!-- 기타구 -->
        <a href="/HTML/kita.html" class="district-button"
           style="left: 290px; top: 235px; width: 80px; height: 80px;">기타구</a>

        <!-- 분쿄구 -->
        <a href="/HTML/bunkyo.html" class="district-button"
           style="left: 315px; top: 360px; width: 80px; height: 40px;">분쿄구</a>

        <!-- 도시마구 -->
        <a href="/HTML/toshima.html" class="district-button"
           style="left: 250px; top: 325px; width: 80px; height: 40px;">도시마구</a>

        <!-- 이타바시구 -->
        <a href="/HTML/itabashi.html" class="district-button"
           style="left: 205px; top: 220px; width: 80px; height: 100px;">이타바시구</a>

        <!-- 네리마구 -->
        <a href="/HTML/nerima.html" class="district-button"
           style="left: 50px; top: 250px; width: 150px; height: 100px;">네리마구</a>

        <!-- 스기나미구 -->
        <a href="/HTML/suginami.html" class="district-button"
           style="left: 30px; top: 390px; width: 150px; height: 70px;">스기나미구</a>

        <!-- 나카노구 -->
        <a href="/HTML/nakano.html" class="district-button"
           style="left: 180px; top: 370px; width: 60px; height: 70px;">나카노구</a>

        <!-- 신주쿠구 -->
        <a href="/HTML/shinjuku.html" class="district-button"
           style="left: 240px; top: 390px; width: 100px; height: 50px;">신주쿠구</a>

        <!-- 지요다구 -->
        <a href="/HTML/chiyoda.html" class="district-button"
           style="left: 335px; top: 420px; width: 80px; height: 40px;">지요다구</a>

        <!-- 주오구 -->
        <a href="/HTML/chuou.html" class="district-button"
           style="left: 385px; top: 450px; width: 50px; height: 69px;">주오구</a>

        <!-- 시부야구 -->
        <a href="/HTML/shibuya.html" class="district-button"
           style="left: 190px; top: 470px; width: 100px; height: 50px;">시부야구</a>

        <!-- 세타가야구 -->
        <a href="/HTML/setagaya.html" class="district-button"
           style="left: 50px; top: 520px; width: 150px; height: 100px;">세타가야구</a>

        <!-- 미나토구 -->
        <a href="/HTML/minato.html" class="district-button"
           style="left: 280px; top: 490px; width: 100px; height: 80px;">미나토구</a>

        <!-- 메구로구 -->
        <a href="/HTML/meguro.html" class="district-button"
           style="left: 205px; top: 550px; width: 70px; height: 80px;">메구로구</a>

        <!-- 시나가와구 -->
        <a href="/HTML/shinagawa.html" class="district-button"
           style="left: 260px; top: 590px; width: 100px; height: 80px;">시나가와구</a>

        <!-- 오타구 -->
        <a href="/HTML/oota.html" class="district-button"
           style="left: 230px; top: 680px; width: 180px; height: 120px;">오타구</a>
      </map>
    </div>
  </div>

  <!-- 노선별 -->
  <div class="line-container">
    <aside class="aside2">
      <section class="lineAll">
        <div class="h2">
          <h2>노선별 매물 검색 지원</h2>
          <p class="sub">간편한 노선 클릭으로 최적의 위치 찾기!</p>
        </div>

        <div class="jr">
          <img src="/img/jr.png" alt="jr 로고" class="jr-logo" />
          <span class="line yamanote">야마노테</span>
          <span class="line chuuo">츄오- 소부</span>
          <span class="line saikyou">사이쿄</span>
          <span class="line joban">죠반</span>
          <span class="line takasaki">타카사키</span>
          <span class="line yokosuka">요코스카</span>
          <span class="line keitoku">케이힌토쿠</span>
        </div>
        <div class="tokyometro">
          <img src="/img/Tokyo_Metro_logo.svg.png" alt="도쿄메트로 로고" class="tokyometro-logo" />
          <span class="line hanzomon">한조몬</span>
          <span class="line marunouchi">마루노우치</span>
          <span class="line hibiya">히비야</span>
          <span class="line chiyoda">치요다</span>
          <span class="line fukutoshin">후쿠토신</span>
          <span class="line ginza">긴자</span>
          <span class="line namboku">난보쿠</span>
          <span class="line yurakucho">유라쿠쵸</span>
          <span class="line tozai">토자이</span>
        </div>
      </section>
    </aside>

    <div class="picture">
      <img src="/img/yamanote.jpeg" alt="야마노테사진"/>
    </div>
  </div>
</main>

<!-- 현재 남아있는 매물 확인 -->
<section class="available-properties">
  <h2>지금 남아있는 매물 확인</h2>
  <div class="property-list">
    <div class="property-item">
      <img src="/img/room1.jpeg" alt="매물 이미지 1">
      <p>#신주쿠 역까지 도보 5분</p>
      <span>편리한 역세권! 넓고 쾌적한 공간에서 새로운 생활을 시작하세요.</span>
    </div>
    <div class="property-item">
      <img src="/img/room2.jpeg" alt="매물 이미지 2">
      <p>#4월 입주 #위불 비자 가능</p>
      <span>심사 간편 & 계약 빠르게! 복잡한 절차 없이 쉽고 빠르게 입주하세요.</span>
    </div>
    <div class="property-item">
      <img src="/img/room3.jpeg" alt="매물 이미지 3">
      <p>#2인 입주 #펫 가능</p>
      <span>자연과 함께하는 삶! 조용한 주거 환경에서 여유로운 일상을 즐겨보세요.</span>
    </div>
  </div>
</section>

<!-- 부동산 소개 -->
<section class="real-estate-info">
  <h2>처음부터 입주까지, 라이온 부동산이 함께합니다.</h2>
  <div class="info-container">
    <div class="info-item">
      <img src="/img/memul.jpeg" alt="찾아오시는 길 이미지">
      <h3>찾아오시는 길</h3>
      <p>주소: 123-4567 東京都新宿区X X町1−2</p>
      <p>오에도선 아카시주쿠역 A3출구 도보 7분</p>
    </div>
    <div class="info-item">
      <img src="/img/room3.jpeg" alt="문의 방법 이미지">
      <h3>문의 방법</h3>
      <p>전화: 1600-1234</p>
      <p>카카오톡 오픈채팅: lion1234</p>
    </div>
  </div>
</section>


<p>처음부터 입주까지, 라이온 부동산이 함께합니다.</p>





<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/navbar.js}"></script>
</body>
</html>